/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--scrollbar: #ffffff;
	--scrollbackground: #d4d4d4;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


h1 {
	/* position: none; */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

div {
	/* display: grid;
	grid-template-columns: repeat(2,1fr); */
	width: 100vw; 
	display: flex;
	align-items: center;
}

div img {
	width: 45vw;
	height: auto;
	overflow: hidden;
}

div	img:not(:first-of-type) {
	display: none;
	visibility: hidden;
}

@media only screen and (min-width: 737px) {
	div img:first-of-type{
		width: 45vw;
		height: auto;
	}
	div	img:not(:first-of-type){
		display: block;
		visibility: visible;
		width: 45vw;
	}
}

@media only screen and (max-width: 736px) {
	div img:first-of-type{
		width: 80vw;
		height: auto;
	}
}


/* div:nth-child(2) img {
	width: 100%/3;
	height: auto;
} */

body {
	background-image: none;
}

@media only screen and (min-width: 1025px) {
	body {background-image: var(--background-image);}
}
/* MAIN */
main {
	padding-left: 2%;
	padding-right: 2%;
}

main ul {
	display: flex;
	overflow-x: auto;
	gap: 0.5em;
	text-wrap: nowrap;
}

	
main section:first-of-type ul li {
	border: solid 0.5px;
	padding: 0.5em 1em 0.5em 1em;
	border-color: var(--border-unhover);
}

main section:first-of-type ul li a {
	text-wrap: nowrap;
	color: var(--color-text);
}
main section:first-of-type ul li:hover {
	border-color: var(--border-hover);
}


main section:not(:first-of-type) ul li {
	border: solid 0.5px;
	border-radius: 5px;
	padding: 0.5em 1em 0.5em 1em;
	border-color: var(--border-unhover);
	width: 142px;
	text-align: center;
}

main section:not(:first-of-type) ul li:hover {
	border-color: var(--border-hover);
}

main section:not(:first-of-type) ul li a {
	color: var(--link-color);
	font-weight: bold;
	order: 0;
}

main section:not(:first-of-type):not(:nth-of-type(2)) ul li a:first-of-type {
	height: 3em;
	overflow: hidden;
}

main section:not(:first-of-type) ul li p {
	color: var(--color-text);
	font-weight: 700;
	font-size: 16px;
}

/* Categorien */
main section:nth-of-type(2) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(2) ul li{
	flex-direction: column-reverse;
}

main section:nth-of-type(2) ul li img {
	height: 100%;
}

/* Games 1 */
main section:nth-of-type(3) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(3) ul li{
	display: inline-block;
}

main section:nth-of-type(3) section:first-of-type {
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
}

main section:nth-of-type(3) section:first-of-type h2 {
	flex-grow: 5;
	font-weight: 700;
}

main section:nth-of-type(3) section:first-of-type h3 {
	margin-right: 0.5em;
}

/* main section:nth-of-type(3) section:first-of-type span {
	display: inline-block;
} */

/* main section:nth-of-type(3) section:first-of-type img {
	max-width: 100%;
	max-height: 100%;
	display: block;
} */

/* Games 2 */
main section:nth-of-type(4) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(4) ul li{
	display: inline-block;
}

main section:nth-of-type(4) section:first-of-type {
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
}

main section:nth-of-type(4) section:first-of-type h2 {
	flex-grow: 5;
	font-weight: 700;
}

main section:nth-of-type(4) section:first-of-type h3 {
	margin-right: 0.5em;
}

/* Games 3 */
main section:nth-of-type(5) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(5) ul li{
	display: inline-block;
}

main section:nth-of-type(5) section:first-of-type {
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
}

main section:nth-of-type(5) section:first-of-type h2 {
	flex-grow: 5;
	font-weight: 700;
}

main section:nth-of-type(5) section:first-of-type h3 {
	margin-right: 0.5em;
}


/* Games 4 */
main section:nth-of-type(6) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(6) ul li{
	display: inline-block;
}

main section:nth-of-type(6) section:first-of-type {
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
}

main section:nth-of-type(6) section:first-of-type h2 {
	flex-grow: 5;
	font-weight: 700;
}

main section:nth-of-type(6) section:first-of-type h3 {
	margin-right: 0.5em;
}


@media only screen and (min-width: 1025px) {
	main section:nth-of-type(2) ul{
		display: grid;
		grid-template-columns: repeat(6,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(4) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(5) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(6) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
}

	/* display: grid; */

h3 {
	display: none;
	visibility: hidden;
}
	
@media only screen and (min-width: 1025px) {
	h3 {display: block; visibility: visible;}
}

main section ul a {
	outline: none;
}

main section ul a:focus {
	outline: 2px dashed var(--nedgame-red);
}
