/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


h1 {
	/* position: none; */
	margin: 0;
	padding: 0;
}

.bannerimage {
	display: none;
	visibility: hidden;
	width: 80%; 
	height: auto;
}

header > ul {
	display: none;
	visibility: hidden;
	justify-content: space-evenly;
}

div {
	display: grid;
	grid-template-columns: repeat(6,1fr);
}

div img {
	width: 45vw;
	height: auto;
}

div	img:not(:first-of-type) {
	display: none;
	visibility: hidden;
}

@media only screen and (min-width: 737px) {
	div	img:not(:first-of-type){
		display: block;
		visibility: visible;
	}
}

/* div:nth-child(2) img {
	width: 100%/3;
	height: auto;
} */

body {
	background-image: none;
}

@media only screen and (min-width: 1025px) {
	body {background-image: url(../images/background.png);}
}

/* MAIN */
main ul {
	display: flex;
	overflow-x: auto;
	gap: 3em;
	text-wrap: nowrap;
}

	
main section:first-of-type ul li {
	border: solid 0.5px;
	padding: 0.5em 1em 0.5em 1em;
	border-color: var(--border-unhover)
}

main section:first-of-type ul li:hover {
	border-color: var(--border-hover)
}


header {
	position: block;
}

@media only screen and (max-width: 1024px) {
	.minbar {display: block; visibility: visible;}
	header > p {display: block; visibility: visible;}
}

@media only screen and (min-width: 1025px) {
	.maxbar {display: block; visibility: visible;}
	.bannerimage {display: block; visibility: visible; width: 80%; height: auto}
	header > ul {display: flex; visibility: visible;}
	/* div > img:not(:first-child) {display: flex; visibility: visible;} */
	header {width: 1500px;}
	main {width: 1500px;}
	footer {width: 1500px;}
	header {position: sticky; top: -8em;}
}


main section:not(:first-of-type) ul li {
	border: solid 0.5px;
	border-radius: 5px;
	padding: 0.5em 1em 0.5em 1em;
	border-color: var(--border-unhover);
	width: 142px;
	text-align: center;
}

main section:not(:first-of-type) ul li a {
	color: var(--nedgame-blue);
	font-weight: bold;
	order: 0;
}

main section:not(:first-of-type) ul li p {
	color: black;
	font-weight: 700;
	font-size: 16px;
}

/* Categorien */
main section:nth-of-type(2) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(2) ul li{
	flex-direction: column-reverse;
	img {
		height: 100%;
		width: 100%;
	}
}

/* Games 1 */
main section:nth-of-type(3) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(3) section:first-of-type{
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
	h2 {
		flex-grow: 5;
		font-weight: 700;
	}
	h3 {
		margin-right: 0.5em;
	}
}

/* Games 2 */
main section:nth-of-type(4) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(4) section:first-of-type{
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
	h2 {
		flex-grow: 5;
		font-weight: 700;
	}
	h3 {
		margin-right: 0.5em;
	}
}

/* Games 3 */
main section:nth-of-type(5) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(5) section:first-of-type{
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
	h2 {
		flex-grow: 5;
		font-weight: 700;
	}
	h3 {
		margin-right: 0.5em;
	}
}

/* Games 4 */
main section:nth-of-type(6) ul{
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(6) section:first-of-type{
	display: flex;
	clear: both;
	width: 100%;
	align-items: baseline;
	padding: 23.35px;
	h2 {
		flex-grow: 5;
		font-weight: 700;
	}
	h3 {
		margin-right: 0.5em;
	}
}

@media only screen and (min-width: 1025px) {
	main section:nth-of-type(2) ul{
		display: grid;
		grid-template-columns: repeat(6,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(4) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(5) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
	main section:nth-of-type(6) ul{
		display: grid;
		grid-template-columns: repeat(7,1fr);
		gap: 1em;
		column-gap: .5em;
		row-gap: .5em;
	}
}

	/* display: grid; */

h3 {
	display: none;
	visibility: hidden;
}
	
@media only screen and (min-width: 1025px) {
	h3 {display: block; visibility: visible;}
}
