/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


ul {
	text-decoration: none;
}

li {
	text-decoration: none;
}

section:first-of-type {
	display: flex;
}

main > section > section:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

@media only screen and (min-width: 1025px) {
	main > section > section:nth-of-type(2) > ul {
		grid-template-columns: repeat(4,1fr);
	}
}